@import "Variables";

:root {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

::selection {
    background-color: fade_out($primary, 0.7);
}

.anchor {
    display: block;
    position: relative;
    top: -$navbar-height;
    visibility: hidden;
}

p {
    max-width: $paragraph-width;
}
