<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <aside class="cookie-info cookie-info--hidden">
        <form action="Javascript: void 0">
            <div class="container">
                <div class="form-group">
                    <f:translate key="page.cookie.text"/>
                </div>
                <div class="form-group">
                    <f:render section="Checkbox" arguments="{id: 'google_tag_manager'}"/>
                </div>
                <div class="form-group">
                    <f:format.raw>
                        <f:translate key="page.cookie.text2" arguments="{0: '{f:link.typolink(parameter: 17, target: \'_blank\')}'}"/>
                    </f:format.raw>
                </div>
                <div class="form-group cookie-info__buttons">
                    <button type="submit" class="btn btn-secondary" name="choice">
                        <f:translate key="page.cookie.save.choice">Accept choice</f:translate>
                    </button>
                    <button type="submit" class="btn btn-primary" name="all">
                        <f:translate key="page.cookie.save.all">Accept all</f:translate>
                    </button>
                </div>
            </div>
        </form>
    </aside>

    <f:section name="Checkbox">
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="{id}" name="{id}">
            <label class="custom-control-label" for="{id}">
                <f:translate key="page.cookie.choice.{id}">{id}</f:translate>
            </label>
        </div>
    </f:section>

</html>
