@import "../../Variables";

.cookie-info {
    position: fixed;
    z-index: $zindex-sticky + 1;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    background-color: $body-bg;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    &.cookie-info--hidden {
        display: none;
    }

    .form-group:last-child {
        margin-bottom: 0;
    }
}

.cookie-info__buttons {
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;

    > .btn + .btn {
        margin-top: 5px;
    }
}
