<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <nav class="text-muted">
        <div class="container">
            <f:translate key="page.footer.copyright" arguments="{0: '{f:format.date(date: \'now\', format: \'Y\')}'}" />
        </div>
    </nav>

</html>