<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
    <div class="container">
        <f:link.typolink class="navbar-brand" parameter="1">
            Brand
        </f:link.typolink>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-collapse"
                aria-controls="navbar-collapse"
                aria-expanded="false"
                aria-label="{f:translate(key: 'page.navigation.toggle')}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <f:cObject typoscriptObjectPath="lib.navigation" />
            </ul>
        </div>
    </div>
</nav>

</html>
