@import "../../Variables";

.ce-align-left,
.ce-headline-left {
    text-align: left;
}

.ce-align-center,
.ce-headline-center {
    text-align: center;
}

.ce-align-right,
.ce-headline-right {
    text-align: right;
}

$margins: (
    extra-small: $grid-gutter-width / 4,
    small: $grid-gutter-width / 2,
    medium: $grid-gutter-width,
    large: $grid-gutter-width * 2,
    extra-large: $grid-gutter-width * 4,
);

@each $size, $margin in $margins {
    .frame-space-before-#{$size} {
        margin-top: $margin;
    }
    .frame-space-after-#{$size} {
        margin-bottom: $margin;
    }
}

.frame-centered {
    max-width: map-get($container-max-widths, $paragraph-breakpoint);
    margin-left: auto;
    margin-right: auto;
}

// the first child should be mostly on top of the page
// however mostly is not good enough and if the first content element is bigger than the page, it'll get its own page.
// for that reason every frame but the first one will get a break-inside: avoid
.frame:not(:first-child) {
    // page-break-* is now an alias for the newer break-* syntax
    // this newer syntax is also used for column layouts which is why doiuse detects this as a multicolumn feature.
    /* doiuse-disable multicolumn */
    page-break-inside: avoid;
}
