<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
    
    <f:render partial="Page/CookieInfo"/>
    <f:render partial="Page/Navbar"/>

    <main>
        <f:cObject typoscriptObjectPath="lib.column" data="0"/>
    </main>

    <f:render partial="Page/Footer"/>

</html>
